<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predictio Result</title>
</head>
<body>
    <h1>City: <%= city %> </h1>
    <h4>Temperature: <%= temp %></h4>
    <h4>Feels Like: <%= feels_like %></h4>
    <h4>Minimum Temperature: <%= temp_min %></h4>
    <h4>Maximum Tempurature: <%= temp_max %></h4>
    <h4>Visibility: <%= visibility %></h4>
    <h4>Wind Speed : <%= winds %></h4>
    <h4>Wind Degree : <%= windd %></h4>
    <h4>Weather Description : <%= wd %></h4>

    
</body>
</html>